<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<style>
   .form-control{
      margin: 5px 0;
      height: 20px;
   }
</style>
<script src="/js/jquery-2.1.1.min.js"></script>
<body>
<div id="rrapp">
        <input type="text" class="form-control" v-model="obj.username" placeholder="账号"><br>
        <input type="password" class="form-control" v-model="obj.password" placeholder="密码"><br>
        <input type="text" class="form-control" v-model="captcha" @keyup.enter="login" placeholder="验证码"><br>

        <img alt="如果看不清楚，请单击图片刷新！" class="pointer"  @click="refreshCode">
        <a href="javascript:;" @click="refreshCode">点击刷新</a><br>
        <hr>
        <h4 v-show="bool" style="color:red">{{msg}}</h4>
      <hr>
      <button type="button" class="btn btn-primary btn-block btn-flat" @click="login">登录</button>
      <a href="/regist">注册</a>
</div>
<script src="/js/vue.min.js"></script>
<script type="text/javascript">
var vm = new Vue({
	el:'#rrapp',
	data:{
		captcha: '',
		bool: false,
		msg: '',
		obj:{
			username: '',
			password: '',
			createtime: null
		}
	},
	methods: {
		refreshCode:function(){
			
		},
		login: function (event) {
			$.ajax({
				type: "POST",
			    url: "/login",
			    contentType: "application/json",
			    data: JSON.stringify(vm.obj),
			    async: false,
			    success: function(result){
					if(result.msg == '登陆成功'){
						window.location.href="index.html"
					}else{
						vm.bool = true;
						vm.msg = result.msg;
					}
				},
				error: function(result){
					console.log(result);
				}
			});
		}
	}
});
</script>
</body>
</html>
