<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="/js/jquery-2.1.1.min.js"></script>
<body>
	<h1>首页</h1>
	<hr/>
	<shiro:user>
		<h3 id="h3" style="color: red;">
			欢迎[<shiro:principal property="username"/>]登录，<a href="/logout">退出</a>
		</h3>
	</shiro:user>
	
	<shiro:hasPermission name="user:add">
		<a href="/product/addGoods">添加页面</a>
	</shiro:hasPermission>
	
	<shiro:hasPermission name="user:updata">
		<a href="/product/updataGoods">修改页面</a>
	</shiro:hasPermission>
	
	<shiro:hasPermission name="user:list">
		<a href="/product/findProductListByParam">产品列表</a>
	</shiro:hasPermission>

</body>
</html>